<%= simple_form_for [:admin, @admin_page],  class: "form__user-form uk-form-stacked" do |f| %>
  <div uk-grid>
    <div class="uk-width-1-1">
      <div class="uk-margin-small">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      </div>
    </div>
    <div class="uk-width-2-5">
      <label class="uk-form-label" for="form-stacked-text">Name</label>
      <div class="uk-form-controls">
        <%= f.input :name, required: false, autofocus: false, label: false, input_html: { class: "uk-input", autocomplete: "name" } %>
      </div>
    </div>
    <div class="uk-width-2-5">
      <label class="uk-form-label" for="form-stacked-text">Permalink</label>
      <div class="uk-form-controls">
        <%= f.input :permalink, required: false, autofocus: false, label: false, input_html: { class: "uk-input", autocomplete: "permalink" } %>
      </div>
    </div>
    <div class="uk-width-1-5">
      <label class="uk-form-label" for="form-stacked-text">Status</label>
      <div class="uk-form-controls">
        <%= f.input :status, as: :select, collection: ContentStatus::STATUSES, label: false, input_html: {class: "uk-select"} %>
      </div>
    </div>
    <div class="uk-width-1-1">
      <div class="uk-margin-small">
        <%= f.input :content, as: :hidden %>
        <trix-editor input="page_content"></trix-editor>
      </div>
      <%= submit_tag :submit, class: "uk-button uk-button-primary uk-margin-top" %>
      <%= submit_tag :Preview, name: "preview_button", class: "uk-button uk-button-default uk-margin-top uk-margin-left" %>
    </div>
  </div>

  <%= content_for :right_column  do %>
    <div class="uk-width-medium admin__right_column" >
      <div class="uk-card uk-card-large uk-card-header uk-card-default ">
          <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>Config</div></div>
      </div>
      <div class="uk-card uk-card-default uk-card-body">
        <h4 class="uk-card-title">Primary</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  <% end %>
<% end %>

