<!DOCTYPE html>
<html>
  <head>
    <title><%= @title if @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= site_favicon_tag  %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <%# <body class="uk-flex uk-flex-center uk-flex-column uk-flex-middle uk-background-muted uk-height-viewport" data-uk-height-viewport> %>
    <%#   <%= render 'front/themes/shared/main_nav' %1> %> 
    <%#   <div class="uk-width-medium uk-padding-small"> %>
      <%#   </div> %>
    <%# </body> %>
  <body>
    <!--HEADER-->
    <%= render 'front/themes/shared/header' %>
    <!--/HEADER-->
    <!-- NAVIGATION -->
    <%= render 'front/themes/shared/navigation' %>
    <!-- /NAVIGATION -->
    <!-- HERO -->
    <%# <%= render 'front/themes/shared/hero' %1> %>
    <!-- HERO -->
    <!-- FEATURED -->
    <%# <%= render 'front/themes/shared/featured' %1> %>
    <!-- /FEATURED -->
    <!--CONTENT-->
    <%= yield %>
    <%# <%= render 'front/themes/shared/content' %1> %>
    <!--/CONTENT-->
    <%# <%= @publishable.content.html_safe %1> %>
    <!--/CONTENT-->
    <!--FOOTER-->
    <%= render 'front/themes/shared/footer' %>
    <!--/FOOTER-->
    <!-- OFFCANVAS -->
    <%# <%= render 'front/themes/shared/offcanvas' %1> %>
    <!-- /OFFCANVAS -->
  </body>  
</html>
