
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "toggle-class", method: :post }) do |f| %>

    <%= render 'admin/shared/forms_messages', object: f.object %>

  <div class="uk-margin-small">
      <div class="uk-inline uk-width-1-1">
    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>	
    <%= f.input :email,
      required: true,
      autofocus: true,
      label: false,
      error: false,
      input_html: {
        class: 'uk-input',
        placeholder: "Email",
        autocomplete: "email" } %>
  </div>
  </div>

  <div class="uk-marign-bottom">
    <%= f.button :submit, "Reset Password", class: 'uk-button uk-button-primary uk-width-1-1' %>
  </div>

<% end %>

<div class="uk-margin-small">
  <div class="uk-text-center">
    <span data-uk-icon="arrow-left"></span>
    <%= link_to "Back to Login", new_session_path(resource_name), class: "uk-link-reset uk-text-small toggle-class" %>
  </div>
</div>

