<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
  <li class="uk-nav-header">ACTIONS</li>
  <li><a href="<%= admin_dashboard_index_path %>"> <span class="uk-margin-small-right zmdi zmdi-view-dashboard"></span>Dashboard </a></li>
  <li class="uk-parent"><a href="#"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>Users</a>
    <ul class="uk-nav-sub">
      <li><a title="All Users" href= <%= admin_users_path %>>All Users</a></li>
      <li><a title="Add User" href= <%= new_admin_user_path %>>Add User</a></li>
      <%# <li><a title="Roles" href="">Roles</a></li> %>
    </ul>
  </li>
  <%# <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Templates</a> %>
  <%#   <ul class="uk-nav-sub"> %>
  <%#     <li><a title="Article" href="https://zzseba78.github.io/Kick-Off/article.html">Article</a></li> %>
  <%#     <li><a title="Album" href="https://zzseba78.github.io/Kick-Off/album.html">Album</a></li> %>
  <%#     <li><a title="Cover" href="https://zzseba78.github.io/Kick-Off/cover.html">Cover</a></li> %>
  <%#     <li><a title="Cards" href="https://zzseba78.github.io/Kick-Off/cards.html">Cards</a></li> %>
  <%#     <li><a title="News Blog" href="https://zzseba78.github.io/Kick-Off/newsBlog.html">News Blog</a></li> %>
  <%#     <li><a title="Price" href="https://zzseba78.github.io/Kick-Off/price.html">Price</a></li> %>
  <%#     <li><a title="Login" href="https://zzseba78.github.io/Kick-Off/login.html">Login</a></li> %>
  <%#     <li><a title="Login-Dark" href="https://zzseba78.github.io/Kick-Off/login-dark.html">Login - Dark</a></li> %>
  <%#   </ul> %>
  <%# </li> %>
  <li><a href="<%= admin_pages_path %>"><span data-uk-icon="icon: album" class="uk-margin-small-right"></span>Pages</a></li>
  <li><a href="<%= admin_media_index_path %>"><span data-uk-icon="icon: image" class="uk-margin-small-right"></span>Media</a></li>
  <%# <li><a href="#"><span data-uk-icon="icon: lifesaver" class="uk-margin-small-right"></span>Tips</a></li> %>
  <%# <li class="uk-parent"> %>
  <%#   <a href="#"><span data-uk-icon="icon: comments" class="uk-margin-small-right"></span>Reports</a> %>
  <%#   <ul class="uk-nav-sub"> %>
  <%#     <li><a href="#">Sub item</a></li> %>
  <%#     <li><a href="#">Sub item</a></li> %>
  <%#   </ul> %>
  <%# </li> %>
</ul>
<div class="left-content-box uk-margin-top">
  <%# <h5>Daily Reports</h5> %>
  <%# <div> %>
  <%#   <span class="uk-text-small">Traffic <small>(+50)</small></span> %>
  <%#   <progress class="uk-progress" value="50" max="100"></progress> %>
  <%# </div> %>
  <%# <div> %>
  <%#   <span class="uk-text-small">Income <small>(+78)</small></span> %>
  <%#   <progress class="uk-progress success" value="78" max="100"></progress> %>
  <%# </div> %>
  <%# <div> %>
  <%#   <span class="uk-text-small">Feedback <small>(-12)</small></span> %>
  <%#   <progress class="uk-progress warning" value="12" max="100"></progress> %>
  <%# </div> %>
</div>

