<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>

  <li class="uk-nav-header">ACTIONS</li>

  <li>
    <a href="<%= admin_dashboard_index_path %>"> 
      <span class="uk-margin-small-right zmdi zmdi-view-dashboard"></span>Dashboard 
    </a>
  </li>

  <li class="uk-parent">
    <a href="#">
      <span data-uk-icon="icon: users" class="uk-margin-small-right"></span>Users
    </a>
    <ul class="uk-nav-sub">
      <li>
        <a title="All Users" href="<%= admin_users_path %>">
          <span data-uk-icon="icon: list; ratio: 0.8" class="uk-margin-small-right"></span>All Users
        </a>
      </li>
      <li>
        <a title="Add User" href= <%= new_admin_user_path %>>
          <span data-uk-icon="icon: plus; ratio: 0.8" class="uk-margin-small-right"></span>Add User
        </a>
      </li>
    </ul>
  </li>

  <% if @publishable_groups %>
    <% @publishable_groups.each do |group| %>

      <li class="uk-parent">
        <a href="#">
          <span data-uk-icon="icon: <%= group.icon %>" class="uk-margin-small-right"></span>
          <%= group.name.pluralize.capitalize %>
        </a>
        <ul class="uk-nav-sub">
          <li>
            <a title="All #{group.name.pluralize.capitalize}" href="<%= admin_publishable_group_publishables_path(group) %>">
              <span data-uk-icon="icon: list; ratio: 0.8" class="uk-margin-small-right"></span>
              All <%= group.name.pluralize.capitalize %>
            </a>
          </li>
          <li>
            <a title="Add #{group.name.singluarize.capitalie}" href= <%= admin_publishable_group_publishables_path(group)  %>>
              <span data-uk-icon="icon: plus; ratio: 0.8" class="uk-margin-small-right"></span>
              Add <%= group.name.singularize.capitalize %>
            </a>
          </li>
        </ul>
      </li>

    <% end %>
  <% end %>

  <li>
    <a href="#">
      <span data-uk-icon="icon: comments" class="uk-margin-small-right"></span>Comments
    </a>
  </li>

  <li>
    <a href="<%= admin_media_index_path %>">
      <span data-uk-icon="icon: image" class="uk-margin-small-right"></span>Media
    </a>
  </li>

</ul>


