<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="image"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <section class="uk-section uk-section-small uk-section-default uk-padding-remove-bottom">
        <div class="uk-container uk-container-expand uk-margin-large-bottom">
          <div id="admin__media_target-container" class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l  uk-child-width-1-5@xl uk-grid-match js-filter" data-uk-grid="masonry: true" data-uk-sortable="handle: .drag-icon">
            <%= render "media", all_media: @all_media %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<%= content_for :right_column  do %>
  <div class="uk-width-large admin__right_column" >
    <div class="pz-card-wrapper">
      <div class="uk-card uk-card-small uk-card-header uk-card-default ">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>Upload Media</div></div>
      </div>
      <div class="uk-card uk-card-default uk-card-body">
        <%= render 'form' %>
      </div>
    </div>
    <div class="pz-card-wrapper">
      <div class="uk-card uk-card-small uk-card-header uk-card-default ">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="info"></span>Media Info</div></div>
      </div>
      <div class="uk-card uk-card-default uk-card-body">
        <div>Ipsum blanditiis sed eum temporibus voluptas odio? Natus quasi fugiat obcaecati sint expedita. At quia enim nesciunt eos dolore nemo Explicabo illum libero consectetur cum similique? Consequatur facilis enim et tenetur vel eligendi? Nobis ad sunt consectetur commodi eum Doloremque ea esse officiis autem unde eligendi repellat? Suscipit porro sed</div>
        <%# <%= render 'form' %1> %>
      </div>
    </div>
  </div>
<% end %>

<div id="admin__media_modal-target-container" class="pz-modal-container"></div>

