<section class="uk-section uk-article">
  <div class="uk-container uk-container-small">
    <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Fusce facilisis tempus magna ac dignissim.</h2>
    <p class="uk-article-meta"><%= @publishable.created_at.strftime("%d %b %Y") %> <span class="dot"></span> <%= read_time(@publishable) %></p>

    <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

    <p>UPDATE 24th October 15.10 BST — Vivamus sed consequat urna. Fusce vitae urna sed ante placerat iaculis. Suspendisse potenti. Pellentesque quis fringilla libero. In hac habitasse platea dictumst.</p>

  </div>

  <!-- text -->
  <div class="uk-container uk-container-small">
    <%= raw @publishable.content %>
  </div>
  <!-- /text -->
  <!-- comments -->
  <div class="uk-container uk-container-small uk-margin-large-top" >
    <%= render partial: "front/themes/comments/form", locals: { commentable: @publishable } %>
    <ul class="uk-comment-list" id="comments">
      <%= render @publishable.comments.where(parent_id: nil), max_nesting: 5 %>
    </ul>
  </div>
  <!-- /comments -->

</section>
