<%= simple_form_for [:admin, @admin_post],  html: {class: "posts_form"} do |f| %>
  <%= f.hidden_field :category_ids, multiple: true %>
  <%= f.hidden_field :created_at %>
  <%= f.hidden_field :submit_option %>
  <%= f.hidden_field :tag_ids, multiple: true %>
  <div uk-grid>
    <div class="uk-width-1-1">
      <div class="uk-margin-small">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      </div>
    </div>
    <div class="uk-width-1-3">
      <label class="uk-form-label" for="form-stacked-text">Name</label>
      <div class="uk-form-controls">
        <%= f.input :title, required: false, autofocus: false, label: false, input_html: { class: "uk-input", autocomplete: "name" } %>
      </div>
    </div>
    <div class="uk-width-1-3">
      <label class="uk-form-label" for="form-stacked-text">Permalink</label>
      <div class="uk-form-controls">
        <%= f.input :permalink, required: false, autofocus: false, label: false, input_html: { class: "uk-input", autocomplete: "permalink" } %>
      </div>
    </div>
    <div class="uk-width-1-3">
      <label class="uk-form-label" for="form-stacked-text">Status</label>
      <div class="uk-form-controls">
        <%= f.input :status, as: :select, collection: PostStatus::STATUSES, label: false, input_html: {class: "uk-select"} %>
      </div>
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label" for="form-stacked-text">Summary</label>
      <div class="uk-form-controls">
        <%= f.input :summary, as: :text, required: false, autofocus: false, label: false, input_html: { class: "uk-textarea", autocomplete: "permalink", rows: "3" } %>
      </div>
    </div>
    <div class="uk-width-1-1">
      <div class="uk-margin-small">
        <button id="add_media_to_editor" class="uk-button uk-button-primary uk-button-small uk-margin-small-bottom">Add media</button>
        <%= f.input :content %>
      </div>
      <div class="uk-margin-small uk-margin-medium-top">
        <button id="post_submit_button" class="commit_buttons uk-button uk-button-primary uk-margin-top"> Submit </button>
        <button id="post_preview_button" class="commit_buttons uk-button uk-button-default uk-margin-top uk-margin-left"> Preview </button>
      </div>
    </div>
  </div>
<% end %>

