<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="album"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
          <% if can? :create, Post %>
            <a href= <%= new_admin_post_path %> class="uk-icon-link" title="Add Post" data-uk-tooltip data-uk-icon="icon: plus"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="uk-card-body">


      <ul class="pz-tab">
        <%= render partial: 'status_link', collection: ContentStatus::STATUSES, as: :status %>
      </ul> 

      <table class="uk-table uk-table-justify uk-table-divider">
        <thead>
          <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Author</th>
            <th>Categories</th>
            <th>Tags</th>
            <th>Updated at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @admin_posts.blank? %>
            <tr>
              <td colspan="7" class="uk-text-center">
                No data!
              </td>
            </tr>
          <% else %>
            <% @admin_posts.each do |admin_post| %>
              <tr>
                <td><%= generate_status_label(admin_post) %></td>
                <td><%= admin_post.title %></td>
                <%# TODO assotioation with author %>
                <td><%= "John Doe" %></td>
                <td><%= generate_categories_labels(admin_post) %></td>
                <td><%= admin_post.title %></td>
                <td><%= standard_date(admin_post.updated_at) %></td>
                <td>
                  <% if can?(:update, Post) || can?(:destroy, Post) %>
                    <ul class="uk-iconnav">
                      <% if can? :update, Post %>
                        <li><a href="<%= edit_admin_post_path(admin_post) %>" uk-icon="icon: file-edit"></a></li>
                      <% end %>
                      <% if can? :destroy, Post %>
                        <li><a href= <%= admin_post_path(admin_post)  %> uk-icon="icon: trash" data-method="delete" rel="nofollow"></a></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <ul class="uk-iconnav">
                      <li>Not authorized</li>
                    </ul>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%# <%= content_for :right_column  do %1> %>
<%#   <div class="uk-width-large admin__right_column" > %>
  <%#     <div class="uk-card uk-card-small uk-card-header uk-card-default "> %>
    <%#       <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>Config</div></div> %>
    <%#     </div> %>
  <%#     <div class="uk-card uk-card-default uk-card-body"> %>
    <%#       <span>Show by status</span> %>

    <%#       <%= form_tag admin_posts_path, method: :get, class: "form__user-form uk-form-stacked" do |f| %1> %>
    <%#         <%= select_tag "status", options_for_select(ContentStatus::STATUSES), include_blank: "",  class: 'uk-select' %1> %>
    <%#         <%= submit_tag :submit , class: "uk-button uk-button-primary uk-margin-top" %1> %>
    <%#       <% end %1> %>

  <%#     </div> %>
<%#   </div> %>
<%# <% end %1> %>
