<div uk-grid>

  <div id="publishable-groups-container" class="uk-width-expand@m">
    <%= render 'groups' %> 
  </div>

  <%= content_for :right_column  do %>
    <div class="uk-width-large admin__right_column" >

      <div class="uk-card uk-card-header uk-card-default ">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>Create content group</div></div>
      </div>

      <div class="uk-card uk-card-default uk-card-body">
        <%= simple_form_for [:admin, :settings, @group], 
          html: {class: "uk-form-stacked uk-margin-remove-top "} do |f| %>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Name</label>
            <div class="uk-form-controls">
              <%= f.input :name, required: false, label: false,
                input_html: {class: "uk-input"} %>
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-form-label">Permalink</div>
            <div class="uk-form-controls uk-form-controls-text">
              <%= f.input :permalink, required: false,
                label: false, input_html: {class: "uk-input"} %>
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-form-label">Icon</div>
            <div class="uk-form-controls uk-form-controls-text">
              <%= f.input :icon, required: false, label: false,
                input_html: {class: "uk-input"} %>
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-form-label">Commentable</div>
            <%= f.input :commentable, as: :boolean, label: false,
              input_html: {class: "uk-checkbox",
                           checked: @group.commentable ? true : false } %>
          </div>

          <div class="uk-margin">
            <div class="uk-form-label">Description</div>
            <div class="uk-form-controls uk-form-controls-text">
              <%= f.input :description, as: :text, required: false, 
                label: false, input_html: {class: "uk-input",
                                           rows: "30"} %>
            </div>
          </div> 

          <div class="uk-margin">
            <div class="uk-form-controls">
              <%= f.button :submit, "Save",
                class: "uk-button uk-button-primary uk-margin-medium-top" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>

</div>
