<table class="uk-table uk-table-justify uk-table-divider">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Slug</th>
      <th>Ancestry</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @admin_categories.blank? %>
      <tr>
        <td colspan="7" class="uk-text-center">
          No data!
        </td>
      </tr>
    <% else %>
      <% @admin_categories.each do |admin_category| %>
        <tr>
          <td><%= admin_category.id %></td>
          <td><%= admin_category.name %></td>
          <td><%= truncate(admin_category.description, length: 25) %></td>
          <td><%= admin_category.slug %></td>
          <td><%= admin_category.ancestry %></td>
          <td>
            <% if can?(:update, Category) || can?(:destroy, Category) %>
              <ul class="uk-iconnav">
                <% if can? :update, Category %>
                  <li>
                    <%= link_to edit_admin_category_path(admin_category), remote: true, class: 'show-modal' do %>
                      <span data-uk-icon="icon:file-edit; ratio: 1.0"></span>
                    <% end %>
                  </li>
                <% end %>
                <% if can? :destroy, Category %>
                  <li>
                    <%= link_to  admin_category_path(admin_category), method: :delete, remote: true do %>
                      <span data-uk-icon="icon:trash; ratio: 1.0"></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <ul class="uk-iconnav">
                <li>Not authorized</li>
              </ul>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
