<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="album"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <table class="uk-table uk-table-justify uk-table-divider">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Slug</th>
            <th>Ancestry</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @admin_categories.blank? %>
            <tr>
              <td colspan="7" class="uk-text-center">
                No data!
              </td>
            </tr>
          <% else %>
            <% @admin_categories.each do |admin_category| %>
              <tr>
                <td><%= admin_category.name %></td>
                <td><%= admin_category.description %></td>
                <td><%= admin_category.slug %></td>
                <td><%= admin_category.ancestry %></td>
                <td>
                  <% if can?(:update, Category) || can?(:destroy, Category) %>
                    <ul class="uk-iconnav">
                      <% if can? :update, Category %>
                        <li><a href="<%= edit_admin_category_path(admin_category) %>" uk-icon="icon: file-edit"></a></li>
                      <% end %>
                      <% if can? :destroy, Category %>
                        <li><a href= <%= admin_category_path(admin_category)  %> uk-icon="icon: trash" data-method="delete" rel="nofollow"></a></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <ul class="uk-iconnav">
                      <li>Not authorized</li>
                    </ul>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= content_for :right_column  do %>
  <div class="uk-width-large admin__right_column" >
    <div class="uk-card uk-card-small uk-card-header uk-card-default ">
      <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>New Category</div></div>
    </div>
    <div class="uk-card uk-card-default uk-card-body">
      <%= simple_form_for admin_pages_path, method: :post,  class: "form__user-form uk-form-stacked" do |f| %>
        <div uk-grid>
          <div class="uk-width-1-1 uk-margin-small">
            <label class="uk-form-label" for="form-stacked-text">Name</label>
            <div class="uk-form-controls">
              <%= f.input :name, required: false, autofocus: false, label: false, input_html: { class: "uk-input", autocomplete: "name" } %>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small">
            <label class="uk-form-label" for="form-stacked-text">Slug</label>
            <div class="uk-form-controls">
              <%= f.input :slug, required: false, autofocus: false, label: false, input_html: { class: "uk-input", autocomplete: "slug" } %>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small">
            <label class="uk-form-label" for="form-stacked-text">Parent Category</label>
            <div class="uk-form-controls">
              <%= f.input :parent_id, collection: Category.order(:name),label: false, input_html: {class: "uk-select"}  %>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small">
            <label class="uk-form-label" for="form-stacked-text">Description</label>
            <div class="uk-form-controls">
              <%= f.input :description, as: :text, required: false, autofocus: false, label: false, input_html: { class: "uk-textarea", autocomplete: "description", rows: "5" } %>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small">
          <%= submit_tag :submit, class: "uk-button uk-button-primary uk-margin-top" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
