
<%= simple_form_for [:admin, @admins_user],  class: "form__user-form uk-form-stacked" do |f| %>
  <div uk-grid>
    <div class="uk-width-auto">
      <div class="form__user-form_avatar-img uk-margin-top">
        <%= image_pack_tag 'avatar.jpg', class: 'form__user_avatar-img', width: "200", height: "200" %>
        <span id="image_button" class="uk-button uk-button-default uk-margin-top uk-width-1-1">Add Photo</span>
      </div>
    </div>
    <div class="uk-width-2-5 uk-width-3-5@s">
      <div class="uk-margin-small">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      </div>
      <div class="uk-margin-small">
        <label class="uk-form-label" for="form-stacked-text">Username</label>
        <div class="uk-form-controls">
          <%= f.input :username,
            required: false,
            autofocus: false,
            label: false,
            input_html: {
              class: "uk-input",
              autocomplete: "username"
            } %>
      </div>
      </div>
      <div class="uk-margin-small">
        <label class="uk-form-label" for="form-stacked-text">First Name</label>
        <div class="uk-form-controls">
          <%= f.input :first_name,
            required: false,
            autofocus: false,
            label: false,
            input_html: {
              class: "uk-input",
              autocomplete: "first_name"
            } %>
      </div>
      </div>
      <div class="uk-margin-small">
        <label class="uk-form-label" for="form-stacked-text">Last Name</label>
        <div class="uk-form-controls">
          <%= f.input :second_name,
            required: false,
            autofocus: false,
            label: false,
            input_html: {
              class: "uk-input",
              autocomplete: "second_name"
            } %>
      </div>
      </div>
      <div class="uk-margin-small">
        <label class="uk-form-label" for="form-stacked-text">E-mail</label>
        <div class="uk-form-controls">
          <%= f.input :email,
            required: false,
            autofocus: false,
            label: false,
            input_html: {
              class: "uk-input",
              autocomplete: "email"
            } %>
      </div>
      </div>
      <div> 
        <label class="uk-form-label" for="form-stacked-text">Password</label>
        <div class="uk-form-controls">
          <%= f.input :password,
            required: false,
            label: false,
            input_html: { 
              class: 'uk-input',
              autocomplete: "current-password",
              type: "text"
            }
          %>
      </div>
      <%= f.button :submit, class: "uk-button uk-button-primary uk-margin-top" %>
      <span id="password_button" class="uk-button uk-button-default uk-margin-top uk-margin-left">Generate Passoword</span>
      </div>
    </div>

  <% end %>

  <script>

  </script>
