<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="users"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
          <% if can?( :create, User)  %>
            <a href= <%= new_admin_user_path %> class="uk-icon-link" title="Add User" data-uk-tooltip data-uk-icon="icon: plus"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <table class="uk-table uk-table-justify uk-table-divider">
        <thead>
          <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Last login</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @admins_users.blank? %>
            <tr>
              <td colspan="7" class="uk-text-center">
                No data!
              </td>
            </tr>
          <% else %>
            <% @admins_users.each do |user| %>
              <tr>
                <td><%= user.ID %></td>
                <td>
                  <% if user.avatar.attached? %>
                    <%= image_tag user.avatar.variant(combine_options: { resize: "35x35", extent: "35x35", background: "grey", gravity: "center"}), class: "index__user_avatar-img uk-border-circle" if user.avatar.attached? %>
                  <% else %>
                    <%= image_pack_tag 'avatar.jpg', class: 'index__user_avatar-img uk-border-circle', width: "35", height: "35" %>
                  <% end %>
                </td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><%= user.last_sign_in_at ? standard_date(user.last_sign_in_at) : "No data" %></td>
                <td>
                  <ul class="uk-iconnav">
                    <% if can?( :update, user)   %>
                      <li><a href="<%= edit_admin_user_path(user) %>" uk-icon="icon: file-edit"></a></li>
                    <% end %>
                    <% if can?(:destroy, user)  %>
                      <li><a href= <%= admin_user_path(user)  %> uk-icon="icon: trash" data-method="delete" rel="nofollow"></a></li>
                    <% end %>
                    <% if cannot?(:update, user) || cannot?(:destroy, user) %>
                      <li>Not authorized</li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= content_for :right_column  do %>
  <div class="uk-width-large admin__right_column" >
    <div class="uk-card uk-card-small uk-card-header uk-card-default ">
      <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>Config</div></div>
    </div>
    <div class="uk-card uk-card-default uk-card-body">
      <span>Show by role</span>

      <%= form_tag admin_users_path, method: :get, class: "form__user-form uk-form-stacked" do |f| %>
        <%= select_tag "role", options_for_select(Role::ROLES), include_blank: "",  class: 'uk-select' %>
        <%= submit_tag :submit , class: "uk-button uk-button-primary uk-margin-top" %>
      <% end %>

    </div>
  </div>
<% end %>

