<!DOCTYPE html>
<html>
  <head>
    <title>Kidsee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/admins_cdns'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class="uk-flex uk-flex-center uk-flex-column uk-flex-middle uk-background-muted uk-height-viewport" data-uk-height-viewport>
    <div class="uk-width-medium uk-padding-small uk-text-center">
      <%= render "admins/shared/flash_messages" %>
    </div>
    <div class="uk-width-medium uk-padding-small">
      <%= yield %>
    </div>
    <%= render 'admins/shared/footer' %>
  </body>
</html>
