<!DOCTYPE html>
<html>
  <head>
    <title>Kidsee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= render 'layouts/admin_cdns' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'admin/shared/dashboard/header' %>
    <%= render 'admin/shared/dashboard/left_sidebar' %>
    <div id="content" data-uk-height-viewport="expand: true">
      <div class="uk-container uk-container-expand">
        <div class="uk-grid uk-grid-medium" data-uk-grid>
          <!-- panel -->
          <div class="uk-width-expand" >
            <%= render "admin/shared/flash_messages" %>
            <%= yield %>
          </div>
            <%= yield :right_column %>
          <!-- /panel -->
        </div>
      </div>
      <footer>
        <%= render 'admin/shared/footer' %>
      </footer>
    </div>
  </body>
</html>
