<!DOCTYPE html>
<html>
  <head>
    <title>Kidsee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag url_for(Site.instance.favicon) %>
    <%= render 'layouts/admin_cdns'%>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class="uk-flex uk-flex-center uk-flex-column uk-flex-middle uk-background-muted uk-height-viewport" data-uk-height-viewport>
    <div class="uk-width-medium uk-padding-small uk-text-center">
      <%= render "admin/shared/flash_messages" %>
    </div>
    <div class="uk-width-medium uk-padding-small">
      <%= yield %>
    </div>
    <%= render 'admin/shared/footer' %>
  </body>
</html>
