<%= simple_form_for [:admin, @site], html: {class: "uk-form-horizontal uk-margin-remove-top uk-padding uk-margin-large"} do |f| %>
  <%= f.simple_fields_for :blog do |blog| %>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">Blog name</label>
      <div class="uk-form-controls">
        <%= blog.input :name, required: false, label: false, input_html: {class: "uk-input uk-width-3-4"} %>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">Permalink</label>
      <div class="uk-form-controls">
        <%= blog.input :permalink, required: false, label: false, input_html: {class: "uk-input uk-width-3-4"} %>
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-form-label">Visible</div>
      <div class="uk-form-controls uk-form-controls-text">
        <label class="pz-site-blog-label">
          <%= blog.input :visible, label: false, as: :boolean, input_html: {class: "uk-checkbox"} %> Make your blog visible to others.
        </label>
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-form-label">Commentable</div>
      <div class="uk-form-controls uk-form-controls-text">
        <label class="pz-site-blog-label">
          <%= blog.input :commentable, label: false, as: :boolean, input_html: {class: "uk-checkbox"} %> Allow comments on your posts.
        </label>
      </div>
    </div> 
    <div class="uk-margin">
      <div class="uk-form-label">Comments nesting</div>
      <div class="uk-form-controls uk-form-controls-text">
        <%= blog.input :max_comment_nesting, collection: 1..10, selected: @site.blog.max_comment_nesting, label: false, input_html: {class: "uk-select uk-width-3-4" } %>
      </div>
    </div>
  <% end %>
  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= f.button :submit, "Save", class: "uk-button uk-button-primary uk-margin-medium-top" %>
    </div>
  </div>
<% end %>
